<h1>Editing Custom Field</h1>

<%= render 'form', custom_field: @custom_field %>

<%= link_to 'Show', shop_custom_field_path(@shop, @custom_field) %> |
<%= link_to 'Back', shop_custom_fields_path(@shop) %>
